.address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.address__list {
    @extend %list;
}
.address__link {
    @extend %link;
}
.address__link--white {
    color: white;
}