.address {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    color: $addrSecondaryColor;
}
.address__list {
    @extend %list;
}
.address__link {
    @extend %link;
}
.address__link--white {
    color: $addrPrimaryColor;
}