.button {
    height: 50px;
    width: 200px;
    background-color: $accentColor;
    border: 0px;
    border-radius: 4px;
    color: $btnTxtColor;
    fill: currentColor;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

}