.product {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier($cubic);
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &:hover .product__overlay {
            transform: translatey(0%);
        }
            
}
.product__thumb {
    position: relative;
    overflow: hidden;
}
.product__overlay {
    @include font(18,null,1.55,null);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: $bgdPrimaryColor;
    padding: 63px 24px;
    transform: translatey(101%);
    transition: transform 250ms cubic-bezier($cubic);
}

.product__footer {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    height: 110px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        height: 146px;
        
    }
}

.product__name {
    @include font(18,null,2,0.06);
    color: $titlePrimaryColor;
    margin-bottom: 4px;
}
.product__descr {
    @include font(16,null,1.88,null);
}
