.menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    @media (max-width: 767px) {
            display: none;
        }
}
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    // align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    @media (min-width: 768px) {
        display: none;
        }
}



