.subscribe__label {
    @include flex(flex, column, null, null, null, left);
    @include font(14, 700, 1.14, null);
    margin-bottom: 20px;
    color: $logoInverseColor;
    text-transform: uppercase;
}
.subscribe__input {
    @include font(16, null, 1.2, null);
    width: 100%;
    height: 50px;
    padding: 15px;
    color: $bgdPrimaryColor;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
.subscribe__btn {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
}