   
    $txtPrimaryColor: #757575;
    $iconPrimaryColor: #afb1b8;
    $titlePrimaryColor: #212121;
    $logoPrimaryColor: #212121;
    $logoInverseColor: #FFFFFF;
    $heroPrimaryColor: #ffffff;
    $accentColor: #2196f3;
    $bgdPrimaryColor: #ffffff;
    $bgdSecondaryColor: #f5f4fa;
    $bgdFooterColor: #2f303a;
    // $btn-bg-color: #f5f4fa;
    $btnTxtColor: #FFFFFF;
    $btnTxtSecondaryColor: #212121;
    $addrPrimaryColor: #FFFFFF;
    $addrSecondaryColor: rgba(255, 255, 255, 0.6);
    $cubic: 0.4, 0, 0.2, 1;
    $gap: 30px;
