   
    // $logo-primary-color: #000000;
    // $logo-inverse-color: #ffffff;
    $txtPrimaryColor: #757575;
    $iconPrimaryColor: #afb1b8;
    $titlePrimaryColor: #212121;
    $heroPrimaryColor: #ffffff;
    $accentColor: #2196f3;
    $bgdPrimaryColor: #ffffff;
    $bgdSecondaryColor: #f5f4fa;
    // $bgd-footer-color: #2f303a;
    // $btn-bg-color: #f5f4fa;
    $btnTxtColor: #FFFFFF;
    // $btn-secondary-text-color: #ffffff;
    // $addr-secondary-color: rgba(255, 255, 255, 0.6);
    $cubic: 0.4, 0, 0.2, 1;
    $gap: 30px;
