.features {
    padding: 60px 0;
    @media screen and (min-width: 1200px) {
            padding: 94px 0;
        }
  }
.features__title {
    @extend %visually-hidden;
}
.features__list {
    @extend %list;
    align-items: baseline;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: $gap;
        }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}
.features__item:not(:last-child) {
    margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) 
    {
    .features__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-basis: calc(100% / 2 - $gap / 2);
        &:not(:last-child) {
                margin-bottom: 0px;
            }
    }
    }
    @media screen and (min-width: 1200px) {
    .features__item {
           flex-basis: calc(100% / 4 - $gap / 2);
    }
}
.features__icon {
    text-align: center;
    margin-bottom: 30px;
    padding: 25px 0;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: $bgdSecondaryColor;
    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
        }
}
.features__subtitle {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: $titlePrimaryColor;
}
.features__subtitle--uppercase {
text-transform: uppercase;
}
.features__text {
    line-height: 1.71;
}
