.hero {
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    max-width: 1600px;
    text-align: center;
    background-color: $bgdSecondaryColor;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/header-bgd-image-mid.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
// @media screen and (min-width: 1200px) {
//     .hero {
//         padding: 200px 452px;
//         background-image: linear-gradient(rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)),
//         url(../images/header-bgd-image.jpg);
//     }  
// }

.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $heroPrimaryColor;
}
// @media screen and (min-width: 1200px){
//     .hero__title {
//             font-size: 44px;
//             line-height: 1.36;
//         }
// }