.hero {
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    max-width: 1600px;
    text-align: center;
    background-color: $bgdSecondaryColor;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include tel {
        background-image: 
            linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-768.jpg);
            
    }
    @include tablet {
        padding: 200px 0px;
        background-image: 
            linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-1600.jpg);
    }
    @include retina {
        background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-480@2x.jpg);
    }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-768@2x.jpg);
    }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
        padding: 200px 0px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-1600@2x.jpg);
    }  
}
.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $heroPrimaryColor;
    @include tablet {
        max-width: 360px;
    }
    @include desktop {  
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }
}
